.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 24px;
  width: 100%;
  position: relative;
  z-index: 10; /* safely above lighting layers */
  background: transparent;
  visibility: visible;
  opacity: 1;
}

.navbar-center {
  position: absolute;
  left: 479px;
  /* transform: translateX(-50%); */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

